body {
	background-color: #CFCEF8;
	background-image: url("images/home_bgtile_stars.jpg");
	/*background-repeat:repeat-y;*/
}
.bdrBottomColor_6054BB {
	border-bottom:1px solid #6054BB;
}
.bdrLeftColor_6054BB {
	border-left:1px solid #6054BB;
}
.bdrTopColor_6054BB {
	border-top:1px solid #6054BB;
}
.bdrRightColor_6054BB {
	border-Right:1px solid #6054BB;
}
.bdrColor_6054BB {
	border:1px solid #6054BB;
	font-size: 11px;
}
.heading_pan {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight:bold;
}
.buttons {
	/*BORDER-RIGHT: 1px solid #006600; BORDER-BOTTOM: 1px solid #006600;
	BORDER-LEFT: 1px solid #006600; BORDER-TOP: 1px solid #006600;*/
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	FONT-WEIGHT: normal; FONT-SIZE: 11px; color: #333333; 
	BACKGROUND-IMAGE: url(images/butt_tile_myprntn.gif); BACKGROUND-REPEAT: repeat-x;
}

A.linkMenu:link {
	FONT-WEIGHT: bold;FONT-SIZE: 12px;TEXT-DECORATION: none;font-family: Arial, Verdana, Helvetica, sans-serif;color: #6054BB;
}
A.linkMenu:visited {
		FONT-WEIGHT: bold;FONT-SIZE: 12px;TEXT-DECORATION: none;font-family: Arial, Verdana, Helvetica, sans-serif;color: #6054BB;
}
A.linkMenu:hover {
		FONT-WEIGHT: bold;FONT-SIZE: 12px;TEXT-DECORATION: none;font-family: Arial, Verdana, Helvetica, sans-serif;color: #FFFFFF; background-color:#6054BB
}
A.linkMenu:active {
		FONT-WEIGHT: bold;FONT-SIZE: 12px;TEXT-DECORATION: none;font-family: Arial, Verdana, Helvetica, sans-serif;color: #6054BB;
}
.linkMenu {
		FONT-WEIGHT: bold;FONT-SIZE: 12px;TEXT-DECORATION: none;font-family: Arial, Verdana, Helvetica, sans-serif;color: #6054BB;
}

.text_6054BB {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #6054BB;
	font-weight:bold;
}

